<tr class="request-[+id+]">
    <td><button type="button" class="btn btn-sm edit-status [+status+]" data-pk="[+id+]" data-value="[+status+]">[+status+]</button></td>
    <td class="text-nowrap">[+date+]</td>
    <td>[+name+]</td>
    <td class="text-nowrap">[+email+]</td>
    <td class="text-nowrap">[+phone+]</td>
    <td>[+comment+]</td>
    <td>[+check_file+]</td>
    <td><a class="edit-comment" data-pk="[+id+]" href="javascript:void(0);">[+manager_comment+]</a></td>
    <td class="actions">
        <a href="javascript:;" onclick="deleteRequest('[+id+]');" title="Удалить запись из таблицы">
            <i class="fa fa-trash fa-fw"></i>
        </a>
    </td>
</tr>