<!DOCTYPE html>
<html>

<head>
    <title>RequestManager</title>
    <link rel="stylesheet" type="text/css" href="../assets/modules/RequestManager/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/modules/RequestManager/css/bootstrap-editable.css">
    <link rel="stylesheet" type="text/css" href="../assets/modules/RequestManager/css/jquery.datatables.css">
    <link rel="stylesheet" type="text/css" href="../assets/modules/RequestManager/css/modern.css">
    <link rel="stylesheet" type="text/css" href="media/style/[+theme+]/css/styles.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/modules/RequestManager/css/styles.css">
    <script type="text/javascript" src="[+jquery_path+]"></script>
    <script type="text/javascript" src="media/script/tabpane.js"></script>
    <script type="text/javascript" src="media/script/mootools/mootools.js"></script>
    <script>
        function showLoader() {
            document.querySelector('body').classList.add('loading');
        }
    </script>
</head>

<body>
    <div id="mainloader"></div>
    <h1 style="margin-left: 10px;">
        <i class="fa fa-envelope-open-o"></i>Request Manager
    </h1>

    <div id="actions">
        <div class="btn-group">
            <a class="btn btn-secondary" href="javascript:;" onclick="window.location.href=window.location.href;">
                <i class="fa fa-refresh"></i>
                <span>Обновить</span>
            </a>
            <a class="btn btn-danger" href="javascript:;" onclick="window.location.href='index.php?a=106';">
                <i class="fa fa-times-circle"></i>
                <span>Закрыть</span>
            </a>
        </div>
    </div>

    <div class="container pt-1 pb-1">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum earum quasi tempore illo omnis voluptates quia, cum deleniti incidunt ullam numquam suscipit, culpa saepe quos enim, provident facere aperiam nostrum.</p>
        <br>
        <div class="table-responsive">
            <table class="display table data" id="request-table">
                <thead>
                    <tr>
                        <th class="">Status</th>
                        <th class="">Date</th>
                        <th class="">City</th>
                        <th class="">Vacancy</th>
                        <th class="">Full Name</th>
                        <th class="">Email</th>
                        <th class="">Phone</th>
                        <th class="">Comment</th>
                        <th class="">Resume File</th>
                        <th class="">Employee Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Opened</button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Opened</a></li>
                                    <li><a href="#">Closed</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                        <td class="text-nowrap">2019/09/12</td>
                        <td>Минск</td>
                        <td>Координатор рекламных акций</td>
                        <td>Иванов Алексей Константинович</td>
                        <td class="text-nowrap">ivanov@gmail.com</td>
                        <td class="text-nowrap">+375 (29) 123-45-67</td>
                        <td></td>
                        <td></td>
                        <td><a class="edit" href="javascript:void(0);">Пусто</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <script src="../assets/modules/RequestManager/js/bootstrap.min.js"></script>
    <script src="../assets/modules/RequestManager/js/bootstrap-editable.min.js"></script>
    <script src="../assets/modules/RequestManager/js/jquery.datatables.min.js"></script>
    <script>
        jQuery('#request-table a.edit').editable({
            url: '/comment',
            type: 'text',
            pk: 1,
            name: 'comment',
            title: 'Enter username'
        });

        jQuery("#request-table").DataTable({
            "columns": [{
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": false
            }, {
                "orderable": false
            }, {
                "orderable": false
            }, {
                "orderable": false
            }, {
                "orderable": false
            }],
            "order": [
                [2, 'asc']
            ],
            "lengthMenu": [10, 25, 50]
        });
    </script>
</body>

</html>