<!DOCTYPE html>
<html>

<head>
    <title>RequestManager</title>
    <link rel="stylesheet" type="text/css" href="../assets/modules/RequestManager/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/modules/RequestManager/css/bootstrap-editable.css">
    <link rel="stylesheet" type="text/css" href="../assets/modules/RequestManager/css/jquery.datatables.css">
    <link rel="stylesheet" type="text/css" href="../assets/modules/RequestManager/css/modern.css">
    <link rel="stylesheet" type="text/css" href="media/style/[+theme+]/css/styles.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/modules/RequestManager/css/styles.css">
    <script type="text/javascript" src="[+jquery_path+]"></script>
    <script type="text/javascript" src="media/script/tabpane.js"></script>
    <script type="text/javascript" src="media/script/mootools/mootools.js"></script>
    <script>
        function showLoader() {
            document.querySelector('body').classList.add('loading');
        }
    </script>
</head>

<body>
    <div id="mainloader"></div>
    <h1 style="margin-left: 10px;">
        <i class="fa fa-envelope-open-o"></i>Request Manager
    </h1>

    <div id="actions">
        <div class="btn-group">
            <a class="btn btn-secondary" href="javascript:;" onclick="window.location.href=window.location.href;">
                <i class="fa fa-refresh"></i>
                <span>Обновить</span>
            </a>
            <a class="btn btn-danger" href="javascript:;" onclick="window.location.href='index.php?a=106';">
                <i class="fa fa-times-circle"></i>
                <span>Закрыть</span>
            </a>
        </div>
    </div>

    <div class="container pt-1">
        <!-- <p>Описание модуля, его предназначения, функционала, преимуществ и прочих прекрасностей...</p> -->
    </div>
    <div class="table-responsive">
        <table class="display table data" id="request-table">
            <thead>
                <tr>
                    <th class="">Статус</th>
                    <th class="">Дата</th>
                    <th class="">Имя</th>
                    <th class="">Email</th>
                    <th class="">Телефон</th>
                    <th class="">Доп. информация</th>
                    <th class="">Прикреплённый файл</th>
                    <th class="">Комментарий менеджера</th>
                    <th class=""></th>
                </tr>
            </thead>
            [+items_output+]
        </table>
    </div>


    <script src="../assets/modules/RequestManager/js/bootstrap.min.js"></script>
    <script src="../assets/modules/RequestManager/js/bootstrap-editable.min.js"></script>
    <script src="../assets/modules/RequestManager/js/jquery.datatables.min.js"></script>
    <script>
        jQuery('.edit-comment').editable({
            url: '/request_comment',
            type: 'text',
            name: 'comment'
        });
        jQuery('.edit-status').editable({
            url: '/request_status',
            showbuttons: false,
            type: 'select',
            name: 'comment',
            source: [{
                    value: 'opened',
                    text: 'opened'
                },
                {
                    value: 'closed',
                    text: 'closed'
                }
            ],
            defaultValue: 'opened',
            success: function (response, newValue) {
                this.classList.remove('opened', 'closed', 'deleted');
                this.classList.add(newValue);
            }
        });
        const deleteRequest = function (id) {
            const answer = confirm("Вы действительно хотите удалить запись?");
            if (answer) {
                const params = {
                    pk: id,
                    value: 'deleted'
                };
                jQuery.ajax({
                    type: 'post',
                    url: '/request_status',
                    data: params,
                    success: function () {
                        jQuery('.request-' + id).addClass('deleted');
                    }
                });
            }
        };

        jQuery("#request-table").DataTable({
            "columns": [{
                "orderable": false
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": false
            }, {
                "orderable": false
            }, {
                "orderable": false
            }, {
                "orderable": false
            }, {
                "orderable": false
            }, {
                "orderable": false
            }],
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [10, 25, 50]
        });
    </script>
</body>

</html>