html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.loading {
    overflow: hidden;

    #mainloader {
        position: fixed;
        opacity: 1;
        visibility: visible;
    }
}

.table-responsive {
    flex-grow: 1;
}

.table.data {

    td,
    th {
        vertical-align: middle;
    }
}

.pages {
    display: flex;
    align-items: center;
    margin: 0 -8px;
    padding: 8px 0;
    font-size: 0.8125rem;

    &__link {
        line-height: 1;
        padding: 12px;

        &.active {
            font-weight: bolder;
        }
    }

    &__separ {
        line-height: 1;
        padding: 12px;
    }
}

.text {
    &-normal {
        text-transform: none !important;
    }
}

.dropdown-menu {
    padding: 0;
    margin-top: 10px;
    border-radius: 0;
    border: 1px solid #d8dee4;

    .divider {
        margin: 0;
    }
}

.dataTables_wrapper {
    padding: 0 15px;
}

.table.data {
    margin: 0 -15px;
}