html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.loading {
    overflow: hidden;

    #mainloader {
        position: fixed;
        opacity: 1;
        visibility: visible;
    }
}

.table-responsive {
    flex-grow: 1;
}

.table.data {

    td,
    th {
        vertical-align: middle;
    }
}

.pages {
    display: flex;
    align-items: center;
    margin: 0 -8px;
    padding: 8px 0;
    font-size: 0.8125rem;

    &__link {
        line-height: 1;
        padding: 12px;

        &.active {
            font-weight: bolder;
        }
    }

    &__separ {
        line-height: 1;
        padding: 12px;
    }
}

.text {
    &-normal {
        text-transform: none !important;
    }
}

.dataTables_length {
    display: none !important;
}

.dataTables_filter {
    width: 100% !important;
    float: none !important;

    label {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 1px;

        input {
            width: 100% !important;
            margin-left: 12px !important;
        }
    }
}

.dropdown-menu {
    padding: 0;
    margin-top: 10px;
    border-radius: 0;
    border: 1px solid #d8dee4;

    .divider {
        margin: 0;
    }
}